@(callouts: Seq[Callout], newCallout: Form[Callout])(implicit user: Option[Identity])


@main("Callouts") {
    <style>
        span.editor:before {
            content: "("
        }
        span.editor:after {
            content: ")"
        }
        li.no-action {
            opacity: 0.3;
        }
        input[type="text"] {
            width: 50%;
        }
        textarea {
            width: 100%;
            height: 6em;
        }

        h1 {
            margin-bottom: 1em;
        }

        ul.callouts li {
            border-bottom: 1px black dashed;
        }

        form {
            padding-top: 1em;
        }

    </style>

    <h1>Your callouts</h1>

    <ul class="callouts">
    @callouts.map { call =>
        <li>
            <h4>@call.title</h4>
            <p>@call.description</p>
            <p>@call.sentOn.map { sent =>
                <h4>Sent: @sent </h4>
            }.getOrElse {
                <button value="@call.id">Send</button>
            }</p>
        </li>
    }
    </ul>

    @helper.form(action = routes.Application.callout) {
        <h3>New callout</h3>
        @helper.inputText(newCallout("title"))
        @helper.textarea(newCallout("description"))
        <input type="submit">
    }

    <script>
        $(function() {
            $("button").click (function(){
                $.post("/api/callout/" + $(this).attr("value") + "/send")
                $(this).replaceWith("<h4>Sent</h4>")
            })
        })
    </script>
}