@(responses: Iterator[CalloutResponse])(implicit user: Option[Identity])

@main("title") {
    <style>
        span.editor:before {
            content: "("
        }
        span.editor:after {
            content: ")"
        }
        li.no-action {
            opacity: 0.3;
        }

    </style>
    
    <ul data-bind="foreach: responses">
        <!--li data-bind="attr: { class: status }"-->
        <li data-bind="css: { 'no-action': noAction }" class="fluid-row">
            <span data-bind="text: text" class="col-6"></span>
            <div class="status col-6">
                <div><input type="radio" value="new" data-bind="checked: status.value, attr: { name: $index}" />New</div>
                <div>
                    <input type="radio" value="no-action" data-bind="checked: status.value, attr: { name: $index}" />
                    Reviewed - no action <span class="editor" data-bind="text: status.by().fullName, visible: noAction"></span>
                </div>
                <div>
                    <input type="radio" value="following-up" data-bind="checked: status.value, attr: { name: $index}" />
                    Following up <span class="editor" data-bind="text: status.by().fullName, visible: followUp"></span>
                </div>
            </div>
        </li>
    </ul>

    <script>
    @user.map { u =>
        var activeUser = {
            openid: "@u.openid",
            firstName: "@u.firstName",
            lastName: "@u.lastName",
            email: "@u.email"
        }
    }

        function Response(data) {
            var self = this;

            function Editor(stuff) {
                var self = this

                self.openid = ko.observable(stuff.openid)
                self.firstName = ko.observable(stuff.firstName)
                self.lastName = ko.observable(stuff.lastName)
                self.fullName = ko.dependentObservable(function (){
                   return self.firstName() + " " + self.lastName()
                });
                self.email = stuff.email
            }

            function Status(status) {
                this.value = ko.observable(status.value)
                if (status.by) {
                    this.by = ko.observable(new Editor(status.by))
                } else {
                    this.by = ko.observable(new Editor({}))
                }
            }

            self.id = data.id
            self.text = ko.observable(data.text);
            self.status = new Status(data.status)
            self.noAction = ko.computed(function() {
                return this.status.value() === "no-action"
            }, self);
            self.followUp = ko.computed(function() {
                return this.status.value() === "following-up";
            }, self);
            self.user = data.user
            self.callout = data.callout

            self.status.value.subscribe(function(newStatus) {
                if (self.status.value() === "new") {
                    self.status.by(new Editor({}))
                } else {
                    self.status.by(new Editor(activeUser))
                }
                $.ajax({
                    type: "POST",
                    url: "/api/response",
                    data: ko.toJSON( self ),
                    contentType: "application/json"
                })
            });
        }

        function ResponsesViewModel() {
            var self = this;

            self.responses = ko.observableArray([]);

            $.getJSON("/api/responses", function(allData) {
                var serverResponses = $.map(allData, function(item) { return new Response(item) });
                self.responses(serverResponses);
            });
        }

        ko.applyBindings(new ResponsesViewModel());
    </script>
}