@(request: controllers.AuthenticatedRequest[AnyContent], error: Option[String] = None)

@main("title") {

<div>
    <div class="span3 offset3">
        <h1>Login</h1>

        <p>
            Please click the button to login with your google account.
        </p>

        @if(error.isDefined) {
        <div class="alert alert-error">
            <p>@error.get</p>
        </div>
        }

        <form action="/login" method="post">
            <input value="Log In" class="btn btn-primary" type="submit">
        </form>

    </div>

</div>

}(None)